<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safez.project.dao.AllowIpMapper" >
  <resultMap id="BaseResultMap" type="com.safez.project.entity.AllowIp" >
    <result column="ipid" property="ipid" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.safez.project.entity.AllowIpWithBLOBs" extends="BaseResultMap" >
    <result column="info1" property="info1" jdbcType="LONGVARCHAR" />
    <result column="info2" property="info2" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    info1, info2
  </sql>
  <insert id="insert" parameterType="com.safez.project.entity.AllowIpWithBLOBs" >
    insert into allow_ip (ipid, ip, info1, 
      info2)
    values (#{ipid,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{info1,jdbcType=LONGVARCHAR}, 
      #{info2,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.safez.project.entity.AllowIpWithBLOBs" >
    insert into allow_ip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ipid != null" >
        ipid,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="info1 != null" >
        info1,
      </if>
      <if test="info2 != null" >
        info2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ipid != null" >
        #{ipid,jdbcType=BIGINT},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="info1 != null" >
        #{info1,jdbcType=LONGVARCHAR},
      </if>
      <if test="info2 != null" >
        #{info2,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getList" resultType="java.util.HashMap" parameterType="java.lang.String" >
                        select * from allow_ip where ip =#{ip,jdbcType=BIGINT}
  </select>
</mapper>